[Desktop Entry]
Type=Application
Exec=cd ~/Applications/ && ./Quote_of_my_day
Icon=./font/icon.png
Terminal=false
Categories=Utility;

Name=Quote_of_my_day
Comment=Personal daily quote viewer desktop gui and cli app
